.pie {
    grid-area: pie;
    background-color: $colordiez;
    text-align: center;
    width: 100%;
  }
  
  .pie ul li {
    list-style: none;
    float: left;
    margin-top: 10px;
  }
  
  .boton2 {
    text-decoration: none;
    padding: 5px;
    color: $colorsiete;
    background-color: $colornueve;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;

    &:hover {
        background: $colorocho;
        color: $colorsiete;
    }
  }
  
 
  
  .copyright {
    margin-top: 45px;
    font-family: fantasy;
  }